*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Top banner */
#top-banner{    
    background-image: url(images/top-banner.png);
    height: 100vh;    
    z-index: 100;
    
}
.banner-text{    
    font-size: 90px;
    margin-left: 25%;
    margin-top: 15%;    
    z-index: -1;      
}
/* Body banner */
#body-banner{
background-image: url(images/history-banner.png);
height: 100vh;
}
/* change transition duration to control the speed of fade effect */
.carousel-item {
    transition: transform 3.6s ease-in-out;
}